/*========================================

========================================*/

.msg-slide{
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  /* background: rgba(122, 206, 230, 0.6); */
  background: rgba(245,255,54,0.9);
  text-align: center;
  font-size: 16px;
  line-height: 40px;
  margin: 0 ;
}

/*========================================
商品一覧 ,検索サイドバー
========================================*/
.product-wrap{
  overflow: hidden;
  width: 1140spx;
  /* あとで消す */
  height: 600px;
  border: 2px solid white;
  box-sizing: border-box;

  padding: 60px;
}
/* .sidebar{
  width: 300px;
  height: 600px;
  border: 2px soild white;

  margin:0;
} */
.product-list{
  /* 各商品パネル */
  float: left;
  width: 22%;
  /* 可変 */
  height: 250px;
  border: 1px solid white;

  margin-left: 14px;
  margin-right: 14px;
  margin-bottom: 20px;
}
.product-img{
  width: 100%;
  height: 80%;
}
/* 画像本体 */
.product-pic{
  width: 100%;
  height: 80%;
}
.product-title{
  /* ハート　タイトルは可変 */
  width: 100%;
  height: 10%;
}
.product-price{
  width: 100%;
  height: 10%;
}
