/*========================================

========================================*/

.msg-slide{
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  /* background: rgba(122, 206, 230, 0.6); */
  background: rgba(245,255,54,0.9);
  text-align: center;
  font-size: 16px;
  line-height: 40px;
  margin: 0 ;
}

/*========================================
商品一覧 ,検索サイドバー
========================================*/
.product-wrap{
  overflow: hidden;
  width: 1140px;
  /* あとで消す */
  /* height: 600px; */
  box-sizing: border-box;

  padding: 60px;
}
/* .sidebar{
  width: 300px;
  height: 600px;
  border: 2px soild white;

  margin:0;
} */
.product-list{
  /* 各商品パネル */
  float: left;
  width: 22%;
  /* 可変 */
  height: 250px;

  margin-left: 14px;
  margin-right: 14px;
  margin-bottom: 60px;
}
.product-img{
  width: 100%;
  height: 80%;
}
/* 画像本体 */
.product-pic{
  width: 100%;
  height: 100%;
  border-radius: 10%;
}
.product-title{
  /* ハート　タイトルは可変 */
  width: 100%;
  height: 10%;
}
.product-title a{
  color: white;
  font-weight: bold;
}
.product-price{
  width: 100%;
  height: 10%;
  color: white;
  font-weight: bold;
}
.product-price a{
  color: white;
  font-weight: bold;
}
/*　並べ替え検索欄 */
.sort-search{
  margin-top: 65px;
}
/*========================================
ページネーション
========================================*/
.pagenation{
  height: 30px;
  overflow: hidden;
  position: relative;
}
.pagenation-list{
  position: absolute;
  top: 0;
  left: 50%;
  list-style: none;
  height: 30px;
  float: left;

  padding: 0;
  margin: 0 auto;
}
.list-item{
  float: left;
}
.list-item a{
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
}
/*========================================
商品詳細ページ
========================================*/
.productDetail-wrap{
  padding: 100px;
}
.page-productDetail #main{
  float: left;
  width: 40%;
  /* border: 2px solid white; */

  margin: 0 120px 100px 0 ;
}
.product-detail{
  float: left;
  width: 45%;
  border: 2px solid white;

  padding: 25px;
  margin: 0;
}
.productDetail-title{
  color: white;
  /* border: 2px solid white; */

  margin-bottom: 50px;
}
.productDetail-title a{
  font-size: 20px;
  color: white;
}
.productDetail-title h2{
  font-weight: bold;
  font-size: 40px;
}
.img-main{
  width: 100%;
  height: 540px;
  /* border: 2px solid white; */
}
.img-main img{
  width: 100%;
  height: 90%;
}
.img-sub{
  width: 100%;
  height: 140px;
  /* border: 2px solid white; */
  padding: 0 5px;
}
.img-sub img{
  height: 100%;
  width: 140px;
  /* border: 1px solid white; */

  margin: 0 5px;
}
.detail-head h2{
  font-weight: bold;
  font-size: 40px;
  color: white;

  padding-bottom: 20px;
  border-bottom: 2px solid #b6a489;
}
